<div class="container">
    <div class="jumbotron text-center">
      <h1>Bienvenido a YsaacRamirez.com</h1>
      <p>Desarrollo de aplicaciones y páginas web, integración de sistemas (ETL), transformación digital y servicios de consultoría IT.</p>
    </div>
  
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/development.jpg" class="card-img-top" alt="Desarrollo de Aplicaciones">
          <div class="card-body">
            <h5 class="card-title">Desarrollo de Aplicaciones</h5>
            <p class="card-text">Creamos aplicaciones a medida que se adaptan a tus necesidades empresariales.</p>
            <a href="/contact" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/integration.jpg" class="card-img-top" alt="Integración de Sistemas">
          <div class="card-body">
            <h5 class="card-title">Integración de Sistemas (ETL)</h5>
            <p class="card-text">Integramos tus sistemas para que trabajen en armonía, mejorando la eficiencia y la precisión.</p>
            <a href="/contact" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/digital-transformation.jpg" class="card-img-top" alt="Transformación Digital">
          <div class="card-body">
            <h5 class="card-title">Transformación Digital</h5>
            <p class="card-text">Te ayudamos a adoptar nuevas tecnologías para mejorar tus procesos empresariales.</p>
            <a href="/contact" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/digital-transformation.jpg" class="card-img-top" alt="Transformación Digital">
          <div class="card-body">
            <h5 class="card-title">Transformación Digital</h5>
            <p class="card-text">Te ayudamos a adoptar nuevas tecnologías para mejorar tus procesos empresariales.</p>
            <a href="/contact" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/digital-transformation.jpg" class="card-img-top" alt="Transformación Digital">
          <div class="card-body">
            <h5 class="card-title">Transformación Digital</h5>
            <p class="card-text">Te ayudamos a adoptar nuevas tecnologías para mejorar tus procesos empresariales.</p>
            <a href="/contact" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/consulting.jpg" class="card-img-top" alt="Consultoría IT">
          <div class="card-body">
            <h5 class="card-title">Consultoría IT</h5>
            <p class="card-text">Ofrecemos asesoramiento experto para optimizar tu infraestructura tecnológica.</p>
            <a href="/contact" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
