/* You can add global styles to this file, and also import other style files */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

main.container {
  padding-top: 70px; /* Ajusta este valor según la altura de tu header */
}

app-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: #f8f9fa; /* Asegura que el header tenga un fondo para no ser transparente */
}

app-carousel {
  margin-top: 70px; /* Ajusta este valor según la altura de tu header */
}

/* Ajuste de las imágenes del carrusel */

/* Ajusta el tamaño del carrusel */
.carousel {
  max-width: 100%; /* Ajusta este valor según tus necesidades */
  margin: auto; /* Centra el carrusel en la página */
}

/* Asegura que todas las imágenes tengan la misma altura */
.carousel-inner img {
  height: 400px; /* Ajusta este valor según tus necesidades */
  object-fit: cover; /* Asegura que las imágenes se ajusten al contenedor */
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
}


app-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background: #f8f9fa;
  text-align: center;
}
