<footer class="bg-dark text-light py-4 bg-body-tertiary fixed-bottom" data-bs-theme="dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Enlaces</h3>
          <ul>
            <li><a href="#" title="Ir a la página de inicio">Inicio</a></li>
            <li><a href="#" title="Conoce más sobre nosotros">Acerca de</a></li>
            <li><a href="#" title="Contáctanos">Contacto</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3>Contacto</h3>
          <p>Correo electrónico: <a href="mailto:info@example.com">info</a></p>
          <p>Teléfono: <a href="tel:1234567890">123-456-7890</a></p>
        </div>
        <div class="col-lg-4">
          <h3>Derechos de autor</h3>
          <p>&copy; {{ currentYear }} YsaacRamirez.com. Todos los derechos reservados.</p>
          <p>
            <a href="#">Mapa del sitio</a> |
            <a href="#">Política de privacidad</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  